body {
  background-color: #1e1e1e;
}
.login-container {
  background-color: #1e1e1e;
  display: flex;
  min-height: 100vh;
  justify-content: center !important;
  align-items: center !important;
  color: white;
}

.login-container h1 {
  text-align: center;
  font: normal normal normal 30px/34px Poppins;
  opacity: 1;
  margin-bottom: 20px;
}

.login-inner-container {
  box-shadow: 10px 20px 30px #0000004d;
  padding: 20px 50px 50px 50px;
}

.login-button-container {
  display: flex;
  justify-content: center;
}

.login-remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.login-remember div {
  display: flex;
  align-items: center;
}

.login-remember small {
  margin-left: 4px;
}
