.new-passsword-container {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center !important;
  align-items: center !important;
  color: white;
  text-align: center;
}

.new-passsword-container h1 {
  font: normal normal bold 30px/20px Poppins;
  opacity: 1;
  margin-bottom: 50px;
}
