.menu-btn {
  border: none !important;
  color: #00b4d8 !important;
}

.menu-list {
  background-color: #00b4d8 !important;
  border: none !important;
}

.menu-item {
  background-color: #00b4d8 !important;
}
