.go-to-login {
  position: absolute;
  right: 70px;
  top: 40px;
  color: white;
  background-color: #1e1e1e;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.reset-password-container {
  background: #1e1e1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset-password-container h1 {
  color: white;
  font: normal normal bold 30px/20px Poppins;
  letter-spacing: 0.01px;
  opacity: 1;
  height: 43px;
}

.reset-password-container > p {
  color: white;
  text-align: center;
  font: normal normal normal 20px/20px Poppins;
  letter-spacing: 0.01px;
  opacity: 0.61;
  width: 586px;
  height: 48px;
  margin: 5px 0px 20px 0px;
}

.send-sms-container {
  color: #aaaaaa;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}
